* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif
}

body {
  background: linear-gradient(135deg, #ffffff, #e0e0e0);
  color: #333;
}

/* Liquid Glass Header */
header {
  backdrop-filter: blur(10px);
  background: rgba(50, 50, 50, 0.5);
  color: #ffffff;
  padding: 20px 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header h1 {
  font-size: 28px;
}

.search-div {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}
#search {
  padding: 12px;
  width: 100%;
  max-width: 450px;
  font-size: 16px;
  border: solid rgb(72, 72, 72);
  border-radius: 8px;
}

#cart {
  font-size: 20px;
  cursor: pointer;
}

/* Category Buttons */
.smartBtn, .fashionBtn, .laptopBtn, .furnitureBtn {
  background: rgba(200, 200, 200, 0.4);
  border: none;
  margin: 15px 20px;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.smartBtn:hover , .fashionBtn:hover, .laptopBtn:hover, .furnitureBtn:hover {
  background: #000;
  color: white;
}

/* Product Grid: 4 per row on desktop, responsive on smaller screens */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px 40px 20px;
  max-width: 1300px;   /* Ensures 4 items max on wide screens */
  margin: 0 auto;
}

/* Product Card */
.product {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0;
}

.product p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Buttons */
.add-cart,
.buy-now {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-cart {
  background: #444;
  color: rgb(255, 255, 255);
}

.buy-now {
  background: transparent;
  border: 1px solid #444;
  color: #444;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(50, 50, 50, 0.8);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 999;
  padding: 0px;
}

.dropdown-content li {
  padding: 10px;
  list-style:none;
  border-bottom: 1px solid #eee;
}

.dropdown-content li:hover {
  background-color: #ffffff;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
